

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*header styles*/

.header {/*creates space around header elements,font type of sans, font color white, and background color blue 
    to the header*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {/* sets width and height as well as font size of 48px for header*/
    display: inline-block;
    font-size: 48px;

}
.header h1 .seo {/* changes the color on the middle letters of the header*/
    display: inline-block;
    font-size: 48px;
    color: #b2b6af;
}

.header nav {/*adds 15 px spacing , a 20px margin location on page sans serif font 
    and a 20px font size for header section*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {/* no markers for list*/
    list-style-type: none;
}

.header nav ul li {/*Defines element appearance and behavior, adds 25px margin*/
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff; /*font color white for list elements*/
    text-decoration: none;
}

p {
    font-size: 16px;/*font size 16px for list elements*/
}

.hero {/*sets background image dimensions, margin bottom, size and position*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
.content { /*sets width, height and position of the section, left margin of 20px*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*this combines the class, and instead of having each individual item we have all three together*/

.search-engine-optimization, 
.online-reputation-management, 
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*this combines the class, and instead of having each individual item we have all three together*/
.social-media-marketing img, 
.online-reputation-management img, 
.search-engine-optimization img {
    max-height: 200px;
}

/*this combines the class, and instead of having each individual item we have all three together*/
.online-reputation-management h2, 
.social-media-marketing h2, 
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*sets image location and left side margins*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*sets image location and right side margin*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*sets section conten t area W 20% H 100%, margin 20px, spacing 20px, font size, and background color blue
    for benefits*/
.benefits {
   margin-right: 20px;
   padding: 20px;
   clear: both;
   float: right;
   width: 20%;
   height: 00%;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   background-color: #2589bd;
}


.benefits article {
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 { /*&copy creates the copy right symbol*/
    font-size: 20px;
}